In [1]:
import pandas as pd
import dash
print("Everything works!") # Ensure that the dependencies are working as intended

Everything works!

In [2]:
# We will now load the first file and inspect it

df = pd.read_csv("data/daily_sales_data_0.csv")
df.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [4]:
# We will now perform data cleaning and filter only for pink morsels as that is the task given to analyze by Soul food

df = df[df["product" ] == "pink morsel"]
print(df)

           product  price  quantity        date region
0      pink morsel  $3.00       546  2018-02-06  north
1      pink morsel  $3.00       549  2018-02-06  south
2      pink morsel  $3.00       577  2018-02-06   east
3      pink morsel  $3.00       519  2018-02-06   west
28     pink morsel  $3.00       529  2018-02-07  north
...            ...    ...       ...         ...    ...
13667  pink morsel  $3.00       599  2019-06-09   west
13692  pink morsel  $3.00       566  2019-06-10  north
13693  pink morsel  $3.00       563  2019-06-10  south
13694  pink morsel  $3.00       541  2019-06-10   east
13695  pink morsel  $3.00       589  2019-06-10   west

[1960 rows x 5 columns]

In [5]:
# We will now clean the price first to ensure that its not stored as string to allow multiplication to happen
df["price"] = df["price"].str.replace("$", "", regex = False).astype(float)

# We will then create a sales column by multiplying price with quantity
df["sales"] = df["quantity"] * df["price"]

print(df)

           product  price  quantity        date region   sales
0      pink morsel    3.0       546  2018-02-06  north  1638.0
1      pink morsel    3.0       549  2018-02-06  south  1647.0
2      pink morsel    3.0       577  2018-02-06   east  1731.0
3      pink morsel    3.0       519  2018-02-06   west  1557.0
28     pink morsel    3.0       529  2018-02-07  north  1587.0
...            ...    ...       ...         ...    ...     ...
13667  pink morsel    3.0       599  2019-06-09   west  1797.0
13692  pink morsel    3.0       566  2019-06-10  north  1698.0
13693  pink morsel    3.0       563  2019-06-10  south  1689.0
13694  pink morsel    3.0       541  2019-06-10   east  1623.0
13695  pink morsel    3.0       589  2019-06-10   west  1767.0

[1960 rows x 6 columns]

In [6]:
# We will convert it into datetime because its more easier to sort and filter later on
df["date"] = pd.to_datetime(df["date"])

In [7]:
# We will now inspect the cleaned and transformed dataset
print(df.head())
print(df.info())

        product  price  quantity       date region   sales
0   pink morsel    3.0       546 2018-02-06  north  1638.0
1   pink morsel    3.0       549 2018-02-06  south  1647.0
2   pink morsel    3.0       577 2018-02-06   east  1731.0
3   pink morsel    3.0       519 2018-02-06   west  1557.0
28  pink morsel    3.0       529 2018-02-07  north  1587.0
<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   float64
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   datetime64[ns]
 4   region    1960 non-null   object
 5   sales     1960 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 107.2+ KB
None

In [9]:
# Now we will combine all the csv files into one file and create a single merged dataframe
import glob

# Quicker way of merging different file names into one large dataframe
files = glob.glob("data/daily_sales_data_*.csv")
df_list = [pd.read_csv(f) for f in files]
df = pd.concat(df_list, ignore_index=True)

# See what is stored in files
files
# We will find that all 3 csv files from 0 to 2 is stored in it

['data\\daily_sales_data_0.csv',
 'data\\daily_sales_data_1.csv',
 'data\\daily_sales_data_2.csv']

In [11]:
# We will now see how the 3 different files stored in the list
df_list

[                product  price  quantity        date region
 0           pink morsel  $3.00       546  2018-02-06  north
 1           pink morsel  $3.00       549  2018-02-06  south
 2           pink morsel  $3.00       577  2018-02-06   east
 3           pink morsel  $3.00       519  2018-02-06   west
 4           gold morsel  $9.99       580  2018-02-06  north
 ...                 ...    ...       ...         ...    ...
 13715  vermilion morsel  $4.99       504  2019-06-10   west
 13716      lapis morsel  $1.99       521  2019-06-10  north
 13717      lapis morsel  $1.99       502  2019-06-10  south
 13718      lapis morsel  $1.99       536  2019-06-10   east
 13719      lapis morsel  $1.99       515  2019-06-10   west

 [13720 rows x 5 columns],
                 product  price  quantity        date region
 0           pink morsel  $3.00       545  2019-06-11  north
 1           pink morsel  $3.00       521  2019-06-11  south
 2           pink morsel  $3.00       595  2019-06-11   east
 3           pink morsel  $3.00       507  2019-06-11   west
 4           gold morsel  $9.99       529  2019-06-11  north
 ...                 ...    ...       ...         ...    ...
 13715  vermilion morsel  $4.99       596  2020-10-12   west
 13716      lapis morsel  $1.99       522  2020-10-12  north
 13717      lapis morsel  $1.99       600  2020-10-12  south
 13718      lapis morsel  $1.99       531  2020-10-12   east
 13719      lapis morsel  $1.99       556  2020-10-12   west

 [13720 rows x 5 columns],
                 product  price  quantity        date region
 0           pink morsel  $3.00       526  2020-10-13  north
 1           pink morsel  $3.00       546  2020-10-13  south
 2           pink morsel  $3.00       505  2020-10-13   east
 3           pink morsel  $3.00       561  2020-10-13   west
 4           gold morsel  $9.99       553  2020-10-13  north
 ...                 ...    ...       ...         ...    ...
 13715  vermilion morsel  $4.99       475  2022-02-14   west
 13716      lapis morsel  $1.99       425  2022-02-14  north
 13717      lapis morsel  $1.99       454  2022-02-14  south
 13718      lapis morsel  $1.99       483  2022-02-14   east
 13719      lapis morsel  $1.99       427  2022-02-14   west

 [13720 rows x 5 columns]]

In [12]:
# We will see the final merged dataframe as well as its properties
print(df.shape)
print(df)

(41160, 5)
                product  price  quantity        date region
0           pink morsel  $3.00       546  2018-02-06  north
1           pink morsel  $3.00       549  2018-02-06  south
2           pink morsel  $3.00       577  2018-02-06   east
3           pink morsel  $3.00       519  2018-02-06   west
4           gold morsel  $9.99       580  2018-02-06  north
...                 ...    ...       ...         ...    ...
41155  vermilion morsel  $4.99       475  2022-02-14   west
41156      lapis morsel  $1.99       425  2022-02-14  north
41157      lapis morsel  $1.99       454  2022-02-14  south
41158      lapis morsel  $1.99       483  2022-02-14   east
41159      lapis morsel  $1.99       427  2022-02-14   west

[41160 rows x 5 columns]

In [13]:
# We will now filter for Pink morsels
df = df[df["product"] == "pink morsel"]

# We will clean the price column
df["price"] = df["price"].str.replace("$", "", regex=False).astype(float)

# We will create the sales column
df["sales"] = df["quantity"] * df["price"]

# We will convert date to datetime
df["date"] = pd.to_datetime(df["date"])

# We will now see how our final output of dataframe looks like
print(df)

           product  price  quantity       date region   sales
0      pink morsel    3.0       546 2018-02-06  north  1638.0
1      pink morsel    3.0       549 2018-02-06  south  1647.0
2      pink morsel    3.0       577 2018-02-06   east  1731.0
3      pink morsel    3.0       519 2018-02-06   west  1557.0
28     pink morsel    3.0       529 2018-02-07  north  1587.0
...            ...    ...       ...        ...    ...     ...
41107  pink morsel    5.0       478 2022-02-13   west  2390.0
41132  pink morsel    5.0       407 2022-02-14  north  2035.0
41133  pink morsel    5.0       493 2022-02-14  south  2465.0
41134  pink morsel    5.0       500 2022-02-14   east  2500.0
41135  pink morsel    5.0       423 2022-02-14   west  2115.0

[5880 rows x 6 columns]

In [14]:
# We only want the final file to have sales, date and region so we will filter rest of them out
cleaned_df = df[["sales", "date", "region"]]
cleaned_df

        sales       date region
0      1638.0 2018-02-06  north
1      1647.0 2018-02-06  south
2      1731.0 2018-02-06   east
3      1557.0 2018-02-06   west
28     1587.0 2018-02-07  north
...       ...        ...    ...
41107  2390.0 2022-02-13   west
41132  2035.0 2022-02-14  north
41133  2465.0 2022-02-14  south
41134  2500.0 2022-02-14   east
41135  2115.0 2022-02-14   west

[5880 rows x 3 columns]

In [15]:
# We will rename it to capital to make it appear more proper and match the fields asked in the instruction
cleaned_df = cleaned_df.rename(columns={
    "sales": "Sales",
    "date": "Date",
    "region": "Region"
})
cleaned_df

        Sales       Date Region
0      1638.0 2018-02-06  north
1      1647.0 2018-02-06  south
2      1731.0 2018-02-06   east
3      1557.0 2018-02-06   west
28     1587.0 2018-02-07  north
...       ...        ...    ...
41107  2390.0 2022-02-13   west
41132  2035.0 2022-02-14  north
41133  2465.0 2022-02-14  south
41134  2500.0 2022-02-14   east
41135  2115.0 2022-02-14   west

[5880 rows x 3 columns]

In [16]:
# We will now export it to csv file and use that to visualize and create simple dashboard
cleaned_df.to_csv("Sales_data.csv", index=False)